<footer class="footer">
  <div class="footer__column">
    <h2>Qué hacer</h2>
    <ul>
      <li><a href="#">Esquí y snowboard</a></li>
      <li><a href="#">Rutas de senderismo</a></li>
      <li><a href="#">Miradores</a></li>

    </ul>
  </div>

  <div class="footer__column">
    <h2>Dónde dormir</h2>
    <ul>
      <li><a href="#">Hoteles</a></li>
      <li><a href="#">Apartamentos</a></li>
      <li><a href="#">Refugios de montaña</a></li>
    </ul>
  </div>

  <div class="footer__column">
    <h2>Prepara tu viaje</h2>
    <ul>
      <li><a href="#">Cómo llegar</a></li>
      <li><a href="#">Alquiler de material</a></li>
      <li><a href="#">Escuelas de esquí</a></li>
    </ul>
  </div>

  <div class="footer__column">
    <h2>Contacto</h2>
    <ul>
      <li><a href="#">Formulario de contacto</a></li>
      <li><a href="#">Teléfonos y horarios</a></li>
    </ul>
  </div>

  <div class="footer__social">
    <h2>Síguenos</p>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  </div>
</footer>