<header>
  <nav id="menu">
    <div class="header__logo">
      <img src="./assets/images/cerler-logo.png" alt="Logo Cerler" />
    </div>
    <button class="menu-toggle">☰</button>
    <ul class="menu-list">
      <li><a href="" class="activo">Inicio</a></li>
      <li><a>Descubre Cerler</a></li>
      <li><a>La estación</a></li>
      <li><a>Qué hacer</a></li>
      <li><a>Dónde dormir</a></li>
      <li><a>Dónde comer</a></li>      
      <li><a>Tarifas</a></li>
      <li><a>Actualidad</a></li>
    </ul>
  </nav>
</header>